html{
    scroll-behavior: smooth;
}
body {
    padding: 0px;
    margin: 0px;
    background-color: #000000;
}

.maincontainer {
    width: auto;
    background-color: #ffff;
    display: flex;
    justify-content: flex-end;

}

.text {
    font-size: 1.5em;
    font-family: "sans-serif";
    color: #000000;
    padding: 2em;
    overflow: auto;   
}

/* .text::-webkit-scrollbar{
    display: none;
 }   */



.ProfilePicture {
    max-width: 20em;
    max-height: 20em;
    width: auto;
    margin: 80px 0px 40px 20px;
    border-radius: 100%;


}

.details {
    display: flex;
    flex-direction: column;
}
.navbar{
    background-color: #000000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top:0px;
    right: 0px;
    left: 0px;
    padding-bottom: -17px;
    
}
.navbar a, .navbar p {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    
}