:root {
    /* --dark: hsl(0, 0%, 0%);
    --light: hsl(0, 0%, 100%);
    --semiDark: hsl(0, 0%, 0%);
    --semiLight: hsl(0, 0%, 100%); */

    /* const dark = "hsl(0, 0%, 100%)";
const light = "hsl(0, 0%, 0%)";
const semiDark = "hsl(0, 0%, 100%)";
const semiLight = "hsl(0, 0%, 0%)"; */

    --dark: hsl(0, 0%, 0%);
    --light: hsl(46, 100%, 54%);
    --semiDark: hsl(100, 0%, 0%);
    --semiLight: hsl(0, 0%, 100%);
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--dark);
    scrollbar-width: none;
}

html {
    scroll-behavior: smooth;
    transition: 0.3s;
}

.maincontainer {
    width: auto;
    color: var(--light);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    color: var(--light);
    background-color: var(--semiDark);
    margin: 0;
    padding: 8em 0em 8em 0em;
    height: 70vh;
}

.title h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Sofia", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
}



.btn,
.btn a {
    display: block;
    font-size: 1rem;
    border-radius: 0.8em;
    margin: 0.4em;
    padding: 0.2em 0.4em;
    background-color: var(--light);
    color: var(--dark);
}


.text {
    margin: 2.67em 5px 0px 10px;
    font-size: 1.5rem;
    font-family: "sans-serif";
    overflow: auto;

}

.aboutme {
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 65ch;
    padding: 5em 1em;
    margin: auto;
}


/* .details {

    display: flex;
    flex-direction: column;
} */

@media (min-width: 60em) {
.grid-auto-flow {
        display: grid;
        gap: 1rem;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        /* grid-template-columns: repeat(3, 1fr); */
        
    }
}


.navbar {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: var(--dark);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 2;
}

.navbar p {
    font-size: 24px;
    text-decoration: none;
    color: var(--light);

}

.navbar a {
    color: var(--semiLight);

}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5em;

}

footer i,
a {
    text-decoration: none;
    color: var(--light);

}