@media (max-width: 768px) {

    section {
        margin: auto 15px;
    }

    h1 {
        font-size: 2rem;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    .nav-menu {
        position: absolute;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--gray);
        color: var(--white);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .navbar ul li a {
        color: var(--white);
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .intro {
        margin-top: 6em;
    }

    .about-me {
        max-width: 80%;
    }

    .about-me p {
        font-size: 1rem;
    }


    .projects {
        display: flex;
        flex-direction: column;
        gap: 3em;
        flex-wrap: nowrap;
    }

    .project-item {
        width: 400px;
    }

    .project-item img {
        max-width: 18em;
    }

    .my-skills {
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }

    .skill-logo img {
        max-width: 8rem;
        max-height: 8rem;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }

    .more-info {
        column-count: 1;
        column-gap: 12em;
        margin: auto 0;
        text-align: center;
    }

    .social-media {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;
    }

}