@media (max-width: 768px) {
    .my-projects h1 {
        flex-direction: row;
    }

    .projects  {
        display: flex;
        flex-direction: column;
    }



    h1 {
        color: red;
    }

}