@media (max-width: 768px) {
    .projects{
        background-color:pink;
    }
    .my-projects h1{
        display: flex;
        flex-direction: row;
    }
    .project-item{
        display: flex;
        flex-direction: column;
        background-color: PINK;
        color: pink;
    }

}