:root {
    --gray: hsl(216, 53%, 9%);
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    transition: 0.3s;
}

body {
    
    background-color: var(--white);

    color: var(--gray);
    font-family: 'Cinzel Decorative', cursive;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(37, 36, 36, 0.5);
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a {
    text-decoration: none;
    color: var(--white);
}

section {
    margin: 0 auto;
    max-width: 1200px;    
}

h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    text-shadow: 1.5px 1.5px rgba(255, 255, 255, 0.5);
}

.btn{
    padding: 0.5rem 1rem;
    color: var(--gray);
    border: 2px solid var(--gray);
}

.btn:hover{
    background-color: var(--gray);
    color: var(--white);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
    padding: 0.5em;
    color: var(--gray);
}

.nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    font-size: 0.9rem;
}

.navbar img {
    width: 50px;
}

.nav-menu {

    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
    
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 2px solid var(--gray);
    color: var(--gray);     
}

.navbar ul li a:hover {
    border-bottom: 0;
    transition: 0.3s;
    opacity: 0.5;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    --webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--gray);
    margin-right: 15px;
}

.intro{
    margin: 8em auto;
    text-align: center;

}

.intro h1 {
}

.about-me {
    max-width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 10em;

}

.about-me p {
    font-size: 1.2rem;
}

.about-me .resume-btn{
    margin: 2.5em;
}

.my-projects{
    max-width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 10em;
}

.projects{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.project-item img{
    max-width: 25em;
    margin-bottom: 2em;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


form {
    font-size: 1rem;
}

.contact-box {
    position: relative;
    margin: 5% 20% 20% 20%;
    border-radius: 10px;
    margin-top: 10em;


}

.contact-box h1 {
    text-align: center;
}

.contact-box .inputbox input,
.contact-box .inputbox textarea {
    position: relative;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 2em;
    border: none;
    outline: none;
    border-radius: 5px;
    color: var(--gray);
    background-color: transparent;
    border-bottom: 1px solid;
}

.contact-box .inputbox label {
    position: absolute;
    padding: 5px 0;
    pointer-events: none;
    transition: 0.5s;
    left: 0;
}

.contact-box .inputbox input:focus~label,
.contact-box .inputbox input:valid~label,
.contact-box .inputbox textarea:focus~label,
.contact-box .inputbox textarea:valid~label {
    font-size: 12px;
    transform: translateY(-20px);
}

.submit button {
    padding: 17px 0px;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
    color: var(--gray);
    background-color: var(--white);
    box-shadow: 0px 0px 10px 0px rgba(100%, 100%, 100%, 0.5);

}

.submit-btn:hover {
    background-color: var(--gray);
    color: var(--white);
}

footer {
    background-color: var(--gray);
    color: var(--white);
    max-width: 100%;
    margin: 0;
}

.footer-content {
    display: flex;
    padding: 2em;
    justify-content: space-between;
    align-items: center;
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.email, .phone-no {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.more-info {
    column-count: 2;
    column-gap: 12em;
    margin: auto 0;
}

.more-info li {
    list-style: none;
    gap: 2em;
    margin-bottom: 1em;
}

.more-info a:hover {
    transition: 0.3s;
    opacity: 0.5;
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.social-media i {
    color: var(--white);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media i:hover {
    background-color: var(--white);
    color: var(--gray);
    transition: 0.3s;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}