:root{
    --gray: #0b1523;
    --white: #fff;
}
body {
    margin: 0;
    padding: 0;
    color: var(--gray);
    font-family: 'Barlow', sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    box-sizing: border-box;
    box-shadow: 0px 15px 25px hsla(0, 0%, 0%, 0.5);
    border-radius: 10px;
}

.subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}

.btn button {
    border: none;
    outline: none;
    background: var(--gray);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 25px 15px;
    box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.5);

}

.btn a {
    text-decoration: none;
    font-weight: bold;
    color:var(--white)
}